html, body, .container {
	height: 100%;
}

body {
<<<<<<< HEAD
  padding: 20px;
  padding-bottom: 20px;
=======
  padding-top: 70px;
>>>>>>> d06219603071c39cbaf4e84a9b1ff07fa0775f9d
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  margin-bottom: 20px;
}


a {
  color: #00B7FF;
}

ul {
	list-style-type: none;
}

.container {
	display: table;
	vertical-align: middle;
}

.vertical-center-row {
	display: : table-cell;
	vertical-align: middle;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}